<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>CSS Flex</title>
	<link rel="stylesheet" href="../static/default.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>


</head>
<body>
	<div class="page">
		<!-- header -->
		<header class="header">
			<h1 class="website-title">
				<a href="#">집<span>사랑</span></a>
			</h1>
			<form class="search-form">
				<input type="search" placeholder="검색">
			</form>
			<button class="btn btn-secondary" type="button" >로그인</button>
			<button class="btn btn-success">회원가입</button>
		</header>

			<!-- primary -->
		<section class="primary">
			<ul class="card-list">
				<li class="card-item">
						<img src="/static/고양이.jpeg" alt="일분이">
					<div class="card-desc">
						<p>닉네임</p>
						<p>글내용</p>
					</div>
				</li>
				<li class="card-item">
						<img src="/static/고양이.jpeg" alt="일분이">
					<div class="card-desc">
						<p>닉네임</p>
						<p>글내용</p>
					</div>
				</li>
				<li class="card-item">
						<img src="/static/고양이.jpeg" alt="일분이">
					<div class="card-desc">
						<p>닉네임</p>
						<p>글내용</p>
					</div>
				</li>
				<li class="card-item">
						<img src="/static/고양이.jpeg" alt="일분이">
					<div class="card-desc">
						<p>닉네임</p>
						<p>글내용</p>
					</div>
				</li>
				<li class="card-item">
						<img src="/static/고양이.jpeg" alt="일분이">
					<div class="card-desc">
						<p>닉네임</p>
						<p>글내용</p>
					</div>
				</li>
				<li class="card-item">
						<img src="/static/고양이.jpeg" alt="일분이">
					<div class="card-desc">
						<p>닉네임</p>
						<p>글내용</p>
					</div>
				</li>
				<li class="card-item">
						<img src="/static/고양이.jpeg" alt="일분이">
					<div class="card-desc">
						<p>닉네임</p>
						<p>글내용</p>
					</div>
				</li>
				<li class="card-item">
						<img src="/static/고양이.jpeg" alt="일분이">
					<div class="card-desc">
						<p>닉네임</p>
						<p>글내용</p>
					</div>
				</li>
			</ul>
		</section>

		<div class="floating-button">
			<span class="move-guestBook">
				<button class="guest-btn"></button>
			</span>
		</div>

		<!-- footer -->
		<footer class="footer">
			Logout
		</footer>
	</div>
</body>
</html>